body {
  margin: 0;
  display: flex;
  height: 100vh;
  color: white;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  position:fixed;
  width: 260px;
  background: #0000002c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
  border-right: 2px solid #444;
  margin: 20px;
  border-radius: 20px;
  height:90%;
  margin-top: 15px;
  margin-left: 10px;
}

.profile {
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 80px;
  height: 80px;
  background-color: gray;
  border-radius: 50%;
  margin-bottom: 10px;
}

.form1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.form1 button {
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  background-color: #000000;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  transition: background 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 16px;
  padding-left: 20px;
}

.form1 button:hover {
  background-color: #555;
  transform: scale(1.05);
}

.logout {
  width: 100%;
  margin-top: auto;
  padding: 20px;
  font-size: 20px;
  background-color: #000000d3;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  transition: background 0.3s, transform 0.2s;
}

.logout:hover {
  background-color: #ff0000;
  transform: scale(1.1);
}

.content {
  flex-grow: 1;
  padding: 20px;
  width:1145px;
  background-color: #00000000;
  border-radius: 20px;
  position:absolute;
  top: 10px;
  margin-top: 18px;
  margin-left: 21.3%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.button-rounded {
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  font-size: 16px;
}

.button-rounded:hover {
  background-color: #2f2f2f;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(40, 40, 40, 0.5);
}

.button-rounded:active {
  transform: scale(1);
}

.search-bar {
  width: 230px;
  padding: 10px 40px 10px 20px;
  border-radius: 30px;
  border: 1px solid #000000;
  background-color: #333;
  color: white;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

.search-bar:focus {
  border-color: #292929;
  background-color: #444;
}

.upload-section {
  background-color: #292929;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: 0.3s;
  border: 2px dashed #2f2f2f;
  position: static;
  cursor: pointer;
}

.upload-section:hover {
  background-color: #3c3c3c;
}

.upload-btn {
  background-color: #000000;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 16px;
  margin-bottom: 10px;
}

.upload-btn:hover {
  background-color: #2d2d2d;
  transform: scale(1.05);
}

.attached-files {
  background-color: #010101;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #3c3c3c;
}

td button {
  margin-right: 5px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  background-color: #000000;
  color: white;
}

td button:hover {
  background-color: #363636;
}

td button.delete {
  background-color: #000000;
}

td button.delete:hover {
  background-color: #b71c1c;
}

table tr:hover {
  background-color: #444;
}

.progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: #555;
  margin-top: 10px;
  border-radius: 10px;
  display: none;
}

.progress-bar {
  height: 100%;
  background-color: #000000;
  width: 0;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: row;
  gap: 15px;
  background: #000000;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

  margin: 0 auto 20px;
}

input[type="text"], select, input[type="file"] {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #000000;
  border-radius: 25px;
  background-color: #292929;
  color: white;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

input[type="text"]::placeholder {
  color: #ccc;
}

input[type="text"]:focus, select:focus, input[type="file"]:focus {
  border-color: #000000;
  background-color: #3c3c3c;
}

select {
  cursor: pointer;
}

button[type="submit"] {
  padding: 15px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(145deg, #000000, #000000);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

button[type="submit"]:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

button[type="submit"]:active {
  transform: scale(1);
}

.attached-files input.search-bar {
  width: 100%;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #000000;
  background-color: #333;
  color: white;
  font-size: 14px;
}

.attached-files input.search-bar:focus {
  background-color: #444;
  border-color: #ffffff;
}
